@media only screen and (max-width: 600px) {
    #header{margin: 5% 5% 15% !important;}
    .sect1{margin: 0% 0% 15% !important; width:100% !important;}
    .sect2{margin: 0% 0% 15% !important;; width:100% !important;}
    .sect3{margin: 0% 0% 15% !important; width: 100% !important;}
    .sect4{margin: 0% 0% 15% !important; width: 100% !important;}
    .caption{margin: 5% !important; text-align:left !important;}
    #footer{height:400px !important;}
  }

html{
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1em;

}
body{
    margin: 0 !important;
}
 h1{
     font-size:5rem;
     letter-spacing:0.2em;
     font-weight: 800;
     text-transform: uppercase;
 }
 h2{
     color:#919191;
     font-size:1.3rem;
     line-height: 1.4em;
     font-weight:100;
     letter-spacing: 0.05em;
 }
 #header{
     max-width: 900px;
     margin:10% 20%;
 }

.sect1{
    display: block;
    margin:10% 20% 0%;
    width:900px;
    height:600px;
}
.caption{
    text-align: right;
}
#redo{
    width:100%;
    height:100%;
}
.sect2{
    margin: 10% 50%;
    width:900px;
    height:600px;
}
.sect2 > .caption{
    text-align:left !important;
}
#reactor{
    background:burlywood;
    width:100%;
    height:100%;
}
.sect3{
    margin: 10% 10%;
    height:600px;
    width:900px;
}
.sect4{
    margin: 10% 20%;
    height:600px;
    width:900px;
}
.sect4 > .caption{
    text-align:left !important;
}
#oog{
    background-color: darkcyan;
    width:100%;
    height:100%;
}

model-viewer{
    background-color: azure;

}

button{
    font-size: 10px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    box-sizing: border-box;
  }
button[slot="hotspot-1"]{
    --min-hotspot-opacity: 0;
    border-radius: 10px;
    border:none;
    background-color: red;
  }

button[slot="hotspot-2"]{
    background-color:blue;
}

#annotation{
    background-color: #fff;
    position: absolute;
    transform: translate(10px, 10px);
    border-radius: 10px;
    padding: 10px;
  }
    /* This keeps child nodes hidden while the element loads */
    :not(:defined) > * {
        display: none;
      }

  #footer{
        background:rgb(241, 241, 241);
        text-align: center;
        position:relative;
        height:300px;
        width:100%;
        margin: 0% 0% -10%;
    }
    #footer > .svg {
        display:inline-flex;
        padding:5% 5% 0%;
    }
   #footer > svg{
        opacity: 0.5;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }
      #footer > svg:hover {
        opacity: 1;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }
 
      .mindlabs .st0{fill:none; stroke:#777;}
      .mindlabs .st1{fill:#777;}
      .mindlabs .st2{fill:#777;}
  
      .mindlabs:hover .st0{fill:none;stroke:#CD1316;stroke-width:2;stroke-miterlimit:10;}
      .mindlabs:hover .st1{fill:#E5007D;}
      .mindlabs:hover .st2{fill:#CD1316;}
  
      .roc{fill:#999;}
      .roc:hover .R{fill:rgb(253, 0, 164);}
      .roc:hover .O{fill:rgb(253, 0, 164);}
      .roc:hover .C{fill:rgb(253, 0, 164);}