html{
    width:100%;

}
body{
    margin: 0 !important;
    font-size:
}
.container{
    width:100% !important;
    height:100% !important;
}
.sect1{
    display: block;
    margin:10% 20% 0%;
    width:900px;
    height:600px;
}

#redo{
    width:100% !important;
    height:600px;
}
.sect2{
    margin: 10% 10% 0%;
    width:900px;
    height:600px;
}
#reactor{
    background:burlywood;
    width:100% !important;
    height:600px;
}
model-viewer{
    background-color: azure;

}

button{
    font-size: 10px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    box-sizing: border-box;
  }
button[slot="hotspot-1"]{
    --min-hotspot-opacity: 0;
    border-radius: 10px;
    border:none;
    background-color: red;
  }

button[slot="hotspot-2"]{
    background-color:blue;
}

#annotation{
    background-color: #fff;
    position: absolute;
    transform: translate(10px, 10px);
    border-radius: 10px;
    padding: 10px;
  }
    /* This keeps child nodes hidden while the element loads */
    :not(:defined) > * {
        display: none;
      }