model-viewer{
    background-color: azure;

}

button{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    box-sizing: border-box;
  }
button[slot="hotspot-1"]{
    --min-hotspot-opacity: 0;
    border-radius: 10px;
    border:none;
    background-color: red;
  }

#annotation{
    background-color: #fff;
    position: absolute;
    transform: translate(10px, 10px);
    border-radius: 10px;
    padding: 10px;
  }
    /* This keeps child nodes hidden while the element loads */
    :not(:defined) > * {
        display: none;
      }